@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color-white: #fff;
$color-brown: #575445;
$color-yellow: #E6B939;
$color-gray: #f6f6f6;


html, body{
    font-size: 14px;
    font-weight: 400;
    color: $color-brown;
    font-family: Poppins, sans-serif;

    a{
        color: $color-brown;
    }
}

.btn{
    background-color: $color-brown;
    color: $color-white;
    border-radius: 6px;
}
.btn-more{
    display: flex;
    gap: 10px;
    font-size: 18px;
    align-items: center;
    margin: 20px 0;
}
.subtitle{
    color:$color-yellow;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.title{
    font-size: 36px;
    color: $color-brown;
    line-height: 40px;
}
.text{
    font-size: 16px;
    color: $color-brown;
    line-height: 25px;
    margin-top: 15px;
}

.content {
    flex: 1 1 auto;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1300px){
    .container{
        max-width: 970px;
    }
}
@media (max-width: 990px){
    .container{
        max-width: none;
        padding: 0 15px;
    }
}

.header{
    width: 100%;
    height: 80px;

    .container{

        .top-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            @media (max-width: 1300px){
                padding: 20px 0;
            }

            .logo{
                padding: 0;
                @media (max-width: 968px){
                    display: none;
                }
            }

            .header-burger{
                display: none;
                @media (max-width: 968px){
                    display: block;
                }
            }

            .menu-right{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 20px;
                @media (max-width: 1300px){
                    margin: 0 5px;
                }

                .menu-link{
                    padding: 0 0 0 20px;
                    @media (max-width: 1300px){
                        margin: 0;
                    }
                    @media (max-width: 968px){
                        display: none;
                    }

                    a{
                        margin: 0 10px;
                    }
                }

                .menu-btns{
                    margin: 0 40px;
                    @media (max-width: 1300px){
                        margin: 0 0 0 40px;
                    }

                    .btn-menu{
                        padding: 10px 20px;
                    }
                    .btn-menu:first-child{
                        margin-right: 10px;
                        @media (max-width: 424px){
                            display: none;
                        }
                    }
                    .items-in-cart{
                        background-color: $color-white;
                        color: $color-brown;
                        padding: 0.5px 5px;
                        border-radius: 10px;
                        margin-left: 6px;
                    }

                    .icon-cart{
                        margin-right: 6px;
                    }
                }
            }

        }
    }
}

main{
    .absolute-shape-one{
        position: absolute;
        margin: -3% 40%;
        @media (max-width:960px){
            display: none;
        }
    }
    .absolute-shape-two{
        position: absolute;
        margin: 36% 0%;
        @media (max-width:1460px){
            display: none;
        }
        @media (min-width:1800px){
            display: none;
        }
    }

    .cta{
        width: 100%;
        height: 610px;
        background: no-repeat url("/src/img/main-pic.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media (max-width: 1000px){
            height: 580px;
        }
        @media (max-width: 800px){
            height: 420px;
        }
        @media (max-width: 693px){
            height: 300px;
        }
        @media (max-width: 426px){
            background:
              linear-gradient(rgba(70, 70, 70, 0.4), rgba(0, 0, 0, 0.4)),
              no-repeat url("/src/img/main-pic-phoneAdapt.jpg");              ;
            background-size: cover;
            background-position: center;
            height: 260px;
        }


        .container{
            margin-left: 10%;
            @media (min-width: 1660px) {
                margin-left: 25%;
            }
            @media (min-width: 1400px) and (max-width: 1660px) {
                margin-left: 10%;
            }

            .cta-content{
                display: flex;
                flex-direction: column;

                .cta-title{
                    font-size: 48px;
                    color:$color-white;
                    width: 416px;
                    line-height: 57px;
                    @media (max-width: 800px){
                        font-size: 36px;
                        line-height: 40px;
                    }
                    @media (max-width: 693px){
                        font-size: 20px;
                        line-height: 26px;
                        width: 220px;
                    }
                }
                .text-title{
                    font-size: 16px;
                    color: $color-white;
                    width: 420px;
                    line-height: 25px;
                    margin-top: 10px;
                    @media (max-width: 800px){
                        width: 340px;
                    }
                    @media (max-width: 693px){
                        font-size: 15px;
                        width: 200px;
                        line-height: 20px;
                    }
                    @media (max-width: 425px){
                        display: none;
                    }
                }

                @media (max-width: 693px){
                    .subtitle{
                        font-size: 15px;
                        width: 200px;
                    }
                }
            }
        }

    }

    .about-us{
        padding: 100px 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-height: 776px;

        .img-about{
            margin-right: 100px;
            @media (max-width: 1400px){
                margin-right: 60px;
            }
        }
        .about-us-inf{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 385px;
            @media (max-width: 693px){
                .subtitle{
                    font-size: 15px;
                }
                .title{
                    font-size: 24px;
                    line-height: 28px;
                }
                .text{
                    font-size: 15px;
                    @media (max-width: 430px){
                        width: 260px;
                    }
                }
            }
        }
    }
    @media (max-width: 960px){
        .about-us{
            display: flex;
            flex-direction: column-reverse;
            max-height: fit-content;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            text-align: center;

            .img-about{
                margin: 10px 0 0 0;
                width: 80%;
            }
            .btn-more{
                justify-content: center;
                @media (max-width: 693px){
                    margin: 16px 0;
                }
            }
        }
    }

    .why-us{
        width: 100%;
        height: 900px;
        background: no-repeat url(/src/img/bg-whyUs-pic.jpg);
        background-size: cover;
        @media (max-width: 960px){
            height: auto;
        }

        .container{

            .why-us-inf{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 100px 0;
                @media (max-width: 1025px){
                    padding: 60px 0;
                }
                @media (max-width: 640px){
                    padding: 28px 0;
                }

                @media (max-width: 693px){
                    .subtitle{
                        font-size: 15px;
                    }
                    .title{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .text{
                        font-size: 15px;
                    }
                }

                .text{
                    width: 540px;
                    @media (max-width: 640px){
                        width: 308px;
                    }
                }
            }

            .grid-why-us{
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr 1fr;
                gap: 20px;
                justify-content: center;
                @media (max-width: 960px){
                    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
                }
                @media (max-width: 640px){
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .promise-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 40px;
                    @media (max-width: 960px){
                        margin-bottom: 20px;
                    }

                    .promise-img{
                        padding-bottom: 10px;
                    }
                    .title{
                        font-size: 16px;
                        padding-bottom: 10px;
                    }
                    .text{
                        font-size: 14px;
                        width: 290px;
                        margin: 0;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    .store{
        margin: 100px 0;
        @media (max-width: 1025px){
            margin: 60px 0;
        }
        @media (max-width: 640px){
            margin: 28px 0;
        }
        .container{

            .store-inf{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-bottom: 60px;
                @media (max-width: 780px){
                    padding-bottom: 32px;
                }

                .text{
                    width: 540px;
                    @media (max-width: 640px){
                        width: 308px;
                    }
                }

                @media (max-width: 693px){
                    .subtitle{
                        font-size: 15px;
                    }
                    .title{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .text{
                        font-size: 15px;
                    }
                }
            }
            .grid-store{
                display: grid;
                grid-template: 470px 470px / 380px 380px 380px;
                justify-content: center;
                gap: 16px;
                @media (max-width: 1200px){
                    grid-template: 360px 360px / 290px 290px 290px;
                }
                @media (max-width: 960px){
                    grid-template: 360px 360px 360px/ 290px 290px;
                }
                @media (max-width: 640px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                }

                #category-accessories{
                    background: url("/src/img/store-accessories.jpg") no-repeat;
                    background-size: cover;
                }
                #category-apparel{
                    background: url("/src/img/store-apparel.jpg") no-repeat;
                    background-size: cover;
                }
                #category-gear{
                    background: url("/src/img/store-gear.jpg") no-repeat;
                    background-size: cover;
                }
                #category-headwear{
                    background: url("/src/img/store-headwear.jpg") no-repeat;
                    background-size: cover;
                }
                #category-hiking{
                    background: url("/src/img/store-hiking.jpg") no-repeat;
                    background-size: cover;
                }
                #category-jackets{
                    background: url("/src/img/store-jackets.jpg") no-repeat;
                    background-size: cover;
                }

                .store-category{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 10px;
                    width: 100%;
                    @media (max-width: 640px){
                        width: 290px;
                        height: 360px;
                    }

                    /* .category-bg-img{
                        z-index: 0;
                        width: 100%;
                        object-fit: cover;
                    } */

                    .title{
                        font-size: 28px;
                        text-align: center;
                        margin: 40px 0 10px 0;
                        @media (max-width: 1200px){
                            margin: 24px 0 10px 0;
                        }
                    }
                    .text{
                        font-size: 16px;
                        max-width: 300px;
                        text-align: center;
                        margin: 0 0 20px 0;
                        @media (max-width: 1200px){
                            margin: 0 0 16px 0;
                            width: 240px;
                        }
                    }
                    .btn-more{
                        z-index: 1;
                        @media (max-width: 1200px){
                            margin: 0 0;
                        }
                    }

                }
            }
            .show-all{
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
            }
        }
    }

    .picture-block{
        background: url("/src/img/picture-block.jpg") no-repeat;
        width: 100%;
        height: 600px;
        background-size: cover;

        position: relative;

        @media (max-width: 1020px){
            height: 400px;
        }
        @media (max-width: 700px){
            display: none;
        }

        .pic-links{
            background-color: #292C32;
            border-radius: 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 615px;
            padding: 20px 0;

            position: absolute;
            right: 40px;
            bottom: 40px;
            @media (max-width: 1020px){
                bottom: 20px;
            }

            .link-text{
                color: $color-white;
                text-align: center;
                font-size: 12px;
                padding-right: 16px;
            }
            .icon-link{
                padding-right: 10px;
            }
        }
    }

    .our-shop{
        background: url("/src/img/bg-checkOut.jpg") no-repeat;
        width: 100%;
        height: 390px;
        background-size: cover;

        .container{
            .shop-inf{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 100px;
                @media (max-width: 640px){
                    padding-top: 70px;
                }

                .title{
                    color: $color-yellow;
                    text-align: center;
                }
                .subtitle{
                    color: $color-white;
                    text-align: center;
                }
                .text{
                    color:$color-white;
                    max-width: 600px;
                    text-align: center;
                    @media (max-width: 640px){
                        width: 300px;
                    }
                }
                .btn-visit{
                    background-color: $color-white;
                    color: $color-brown;
                    padding: 10px 20px;
                    font-size: 16px;
                    border-radius: 6px;
                    width: 120px;
                    margin-top: 20px;
                }

                @media (max-width: 693px){
                    .subtitle{
                        font-size: 15px;
                    }
                    .title{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .text{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .container{
        .guides{
            margin: 100px 0;

            @media (max-width: 1025px){
                margin: 40px 0;
            }
            @media (max-width: 640px){
                margin: 28px 0;
            }


            .guides-inf{
                display: flex;
                flex-direction: column;
                .text{
                    width: 540px;
                    @media (max-width: 640px){
                        width: 400px;
                    }
                    @media (max-width: 424px){
                        width: 300px;
                    }
                }

                @media (max-width: 693px){
                    .subtitle{
                        font-size: 15px;
                    }
                    .title{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .text{
                        font-size: 15px;
                    }
                }
            }

            .guides-grid{
                display: grid;
                grid-template: 1fr / 1fr 1fr;
                gap: 32px;

                @media (max-width: 640px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                }

                .guides-block{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .guide-img{
                        margin-top: 20px;
                        width: 100%;
                    }

                    .author-inf{
                        margin-top: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        font-size: 13px;

                        .author{
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            @media (max-width: 1301px){
                                .author-img{
                                    display: none;
                                }
                            }

                            .person-inf{
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                                @media (max-width: 1301px){
                                    margin-left: 0px;
                                }

                                .guides-author{
                                    padding-bottom: 8px;
                                }
                                .author-spec{
                                    color: $color-yellow;
                                    /* @media (max-width: 640px){
                                        display: none;
                                    } */
                                }
                            }
                        }

                        .guides-date{
                            color: #6F7278;
                        }
                    }
                }

            }

            .show-all-guides{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                font-size: 15px;

                @media (max-width: 693px){
                    margin-top: 8px;
                }
            }

        }
    }

    .subscribe{
        padding: 60px 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-height: 776px;

        @media (max-width: 1025px){
            padding: 40px 0;
        }
        @media (max-width: 640px){
            padding: 28px 0;
        }

        .img-subscribe{
            margin-right: 100px;
            @media (max-width: 1400px){
                margin-right: 60px;
            }
        }
        .subscribe-inf{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 385px;

            @media (max-width: 693px){
                .subtitle{
                    font-size: 15px;
                }
                .title{
                    font-size: 24px;
                    line-height: 28px;
                }
                .text{
                    font-size: 15px;
                    @media (max-width: 430px){
                        width: 300px;
                    }
                }
            }
        }
    }

    @media (max-width: 960px){
        .subscribe{
            display: flex;
            flex-direction: column-reverse;
            max-height: fit-content;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            text-align: center;

            .img-subscribe{
                margin: 10px 0 0 0;
                width: 80%;
            }
            .btn-more{
                justify-content: center;
                @media (max-width: 693px){
                    margin: 16px 0;
                }
            }
        }
    }

}

footer{
    background-color: $color-brown;
    padding: 100px 0;

    @media (max-width: 1025px){
        padding: 40px 0;
    }
    @media (max-width: 640px){
        padding: 28px 0;
    }

    .container{

        .footer-logo{
            margin-bottom: 75px;
            display: flex;
            justify-content: center;

            @media (max-width: 1010px){
                margin-bottom: 40px;
            }
            @media (max-width: 500px){
                margin-bottom: 28px;
            }
        }

        .footer-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 3fr;
            gap: 80px;
            @media (max-width: 1010px){
                grid-template-columns: 120px 120px 120px;
                justify-content: center;
                gap: 30px;
                align-items: center;
            }
            @media (max-width: 500px){
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 20px;
            }

            .footer-grid-block{
                display: flex;
                flex-direction: column;

                .subtitle{
                    color: $color-yellow;
                    padding: 5px 0;
                }

                .footer-menu-link{
                    color: $color-white;
                    padding: 5px 0;
                }

                .text{
                    width: 440px;
                    font-size: 14px;
                    color:$color-white;
                    margin: 0 0 12px 0;
                }

                .form-subscribe{
                    display: flex;
                    flex-direction: row;

                    .form-wrap-email{
                        height: 55px;
                        display: flex;
                        border-radius: 20px;
                        align-items: center;
                        background-color: $color-white;

                        .form-email{
                            width: 360px;
                            height: 100%;
                            padding: 10px 20px;
                            border: none;
                            outline: none;
                            border-radius: 8px;
                        }

                        .btn-submit{
                            background-color: $color-brown;
                            color: $color-white;
                            padding: 10px 20px;
                            margin-right: 8px;
                            border-radius: 12px;
                        }
                    }
                }

                .newsletter{
                    @media (max-width: 1010px){
                        display: none;
                    }
                }
            }
        }

        .socials{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;

            @media (max-width: 1010px){
                justify-content: center;
            }
            @media (max-width: 500px){
                flex-direction: column;
                align-items: start;
            }

            .text{
                color: $color-white;
                font-size: 14px;
                @media (max-width: 1010px){
                    margin-right: 20px;
                }
            }

            .socials-icons{
                display: flex;
                flex-direction: row;
                margin-right: 5%;

                @media (max-width: 500px){
                    margin: 14px 0 0 0;
                }

                img{
                    width: 24px;
                    height: 24px;
                    margin: 0 10px;
                }

            }
        }

        .newsletter-mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .subtitle{
                color: $color-yellow;
                padding: 5px 0;
            }

            .footer-menu-link{
                color: $color-white;
                padding: 5px 0;
            }

            .text{
                width: 440px;
                font-size: 14px;
                color:$color-white;
                margin: 0 0 12px 0;
                @media (max-width: 500px){
                    width: 310px;
                }
            }

            .form-subscribe{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .form-wrap-email{
                    height: 55px;
                    display: flex;
                    border-radius: 20px;
                    align-items: center;
                    background-color: $color-white;

                    .form-email{
                        width: 360px;
                        height: 100%;
                        padding: 10px 20px;
                        border: none;
                        outline: none;
                        border-radius: 8px;

                        @media (max-width: 500px){
                            width: 310px;
                        }
                        @media (max-width: 415px){
                            width: 200px;
                        }
                    }

                    .btn-submit{
                        background-color: $color-brown;
                        color: $color-white;
                        padding: 10px 20px;
                        margin-right: 8px;
                        border-radius: 12px;
                    }
                }
            }

            @media (min-width: 1010px){
                display: none;
            }
        }
    }
}